* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 4%;
}

.display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    color: #444;
    font-size: 22px;
    border-radius: 10px;
    width: 100%;
    height: 94px;
    padding-right: 10px;
}

.display-value {
    display: none;
    justify-content: flex-end;
    font-weight: 600;
    width: 100%;
}

.display-result:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.display-result {
    text-align: right;
    font-size: 42px;
    font-weight: 600;
    width: 100%;
    height: 64px;
    border: none;
    color: #444;
}